body {
  font-family: serif;
}

div.form {
  padding: 20px;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
  padding-top: 1.925rem;
  direction: rtl;
}

@media screen and (min-width: 800px) {
  div.form{
    max-width: 500px;
  }
}
.card-img-top {
  width: auto;
}

#input-product-price {
  text-align:right;
}
